.day-progress {
    width: 100%;
    height: 4px;
}
.day-progress::-webkit-progress-bar {
    background-color: rgb(243, 239, 239);
}
.day-progress::-webkit-progress-value {
    background-color: rgb(40, 91, 154);
}